<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Post <%=@post.id%></title>
  </head>
  <body>
    <ul>
      <li><%=@post.name%></li>
      <%=@post.content%>
    </ul>
    <p>
      Click <a href="/posts/<%=@post.id%>/edit">here</a> to edit this post!
    <br>
    <form method="POST" action="/posts/<%=@post.id%>/delete">
      <input id="hidden" type="hidden" name="_method" value="delete">
      <input type="submit" value="delete">
    </form>
  </body>
</html>
